<h1>Lookup App:The place for all your Bookmarks!</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  lookup application.
  <br/>
  <a href="lookups/new" class="btn btn-large btn-primary">Add Bookmark Now!</a>
  <br/>
  <a href="lookups" class="btn btn-large btn-primary">See List of Bookmarks!</a>
  

  
</p>
